.Cuerpo {height:80vh; display:table;width:100%;}
.v-m {display:table-cell;vertical-align:middle}
.LlenarCasiHorizontalmente{width:60%;}
.LlenarHorizontalmente{width:100%;}
.Salto{height:5vh;}
.SaltoPeq{height:1vh;}
.ColorAzul{background: };