html
	head
		title Codigo
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css2/Codigo.css")
		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
			div(class="Encabezado")
				div(class="row")
					div(class="col-md-3 col-xs-5")
						div(class="text-center")
							a(href="/Cerrar", style="display: inline") Cerrar Sesion
							a(href="/Menu", style="display: inline") Menu
					div(class="col-md-7 col-xs-5")
						div(class="text-center")
							h1 Seats
			div(class="Container")
				div(class="Arriba")
					div(class="row")
					div(class="col-md-6 col-xs-5")
							h3 Antigua Guatemala
							h5 Ruta sacatepequez desde Chiquimula
					div(class="col-md-6 col-xs-7")
						div(class="text-right")
							h1 Q15.00
				div(class="Medio")
					div(class="row")
					div(class="col-md-4 col-xs-6")
							Al momento de llegar, permite al conductor que escanee rápidamente este codigo QR. En caso no cargues tu telefono puedes imprimirlo y presentarlo.
					div(class="col-md-8 col-xs-6")
						div(class="text-right")
							img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/QRcódigo_portada_wikipedia_español.png/220px-QRcódigo_portada_wikipedia_español.png" class="img1 cover")
				div(clas="Abajo")
					img(src="http://www.outdoorblueprint.com/outdoors-101/plan-a-road-trip-route-with-google-maps/step5d.png" class="img1 cover")