html
	head
		title Ingresar
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css2/Login.css")
		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
		div(class="container")
			div(class="text-center")
				div(class="Cuerpo")
					div(class="v-m")
							h1 Ingresa al futuro
							div(class="container")
								form(action="/Login" method="POST")
									div(class="Salto")
									div(class="text-left")
										div(class="form-group")
											label(for="user") Correo Electronico:
											input(type="text", name="mail", class="form-control", placeholder="Correo", id="mail")
									div(class="text-left")
										div(class="form-group")
											label(for="Contra") Contraseña:
											input(type="password", name="pass",class="form-control", placeholder="Contraseña", id="Contra")
									div(class="Salto")
									div(class="Salto")
									input(type="submit", name="login",class="LlenarHorizontalmente",style="background-color:68B8AA;font-size:20;", class="btn", value="Iniciar Sesion")
									div(class="SaltoPeq")
									div(class="SaltoPeq")
									a(href="html_images.asp", HTML Images style="background-color:FFFFFF;font-size:15;") Olvidates tu contraseña?
									div(class="SaltoPeq")
									a(href="/Registro",HTML Images style="background-color:FFFFFF;font-size:15;") Aún no tienes cuenta?... Regístrate!