html
	head
		title Codigo
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css2/Lugar2.css")
		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
			div(class="Encabezado")
				div(class="row")
					div(class="col-md-3 col-xs-5")
						div(class="text-center")
							a(href="/Cerrar", style="display: inline") Cerrar Sesion
							a(href="/Menu", style="display: inline") Menu
					div(class="col-md-7 col-xs-5")
						div(class="text-center")
							h1 Seats
			div(class="Container")
				div(clas="Arriba")
					img(src="http://www.the-coreport.com/wp-content/uploads/2017/05/antigua-guatemala.jpg" class="img1 cover")
				div(class="Abajo")
					div(class="row")
						h3 Antigua Guatemala
						h5 Ruta sacatepequez desde Chiquimula
						h1 Q15.00
						form(action="/Lugar" method="POST")
							input(type="submit", name="login",class="LlenarHorizontalmente",style="background-color:68B8AA;font-size:20;", class="btn", value="Comprar")