html
	head
		title Ingresar
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css2/Login.css")
		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
		div(class="container")
			div(class="text-center")
				div(class="Cuerpo")
					div(class="v-m")
							h1 Registrate!
							div(class="container")
								form(action="/Login" method="POST")
									div(class="Salto")
									div(class="text-left")
										div(class="form-group")
											label(for="NombreUsuario") Nombre de Usuario:
											input(type="text", name="NombreUsuario", class="form-control", placeholder="Nombre", id="NombreUsuario")
									div(class="text-left")
										div(class="form-group")
											label(for="Correo") Correo Electronico:
											input(type="password", name="Correo",class="form-control", placeholder="Correo", id="Correo")
									div(class="text-left")
										div(class="form-group")
											label(for="Contraseña") Contraseña:
											input(type="password", name="Contraseña",class="form-control", placeholder="Contraseña", id="Contraseña")
									div(class="text-left")
										div(class="form-group")
											label(for="RepiteContraseña") Repite tu Contraseña:
											input(type="password", name="RepiteContraseña",class="form-control", placeholder="Contraseña", id="RepiteContraseña")
									input(type="submit", name="login",class="LlenarHorizontalmente",style="background-color:68B8AA;font-size:20;", class="btn", value="Iniciar Sesion")